<div class="show-footer show-footer-right">
  <p class="address">1412 Freedom Blvd 200 W, Provo, UT 84604</p>
  <div class="show-info show-info-right">
    <div class="contrib">
      <p>CONTRIBUTORS:</p>
      <p>Mitchell Barton</p>
      <p>Blake Lewis</p>
      <p>Kyler Hudson</p>
      <p>Lyman Ballif</p>
      <p>Matthew Harrison</p>
      <br>
      <p>For more info, ideas and collaborations please email 2MASS@gmail.com</p>
    </div>
    <div class="artists">
      <p>CONTRIBUTING ARTISTS:</p>
      <p>Eric Edvalson</p>
      <p>Jane Christensen</p>
      <p>Ellie Goldrup</p>
      <p>Tanner Halversen</p>
      <p>Jonathan Frioux</p>
      <p>Hannah Pardoe</p>
      <p>Pearl Corry</p>
      <p>Julian Harper</p>
      <p>Jacob Haupt</p>
      <p>Noah Jackson</p>
    </div>
  </div>
  <div class="watermark">
    <p>&copy;<br>2017<br>2MASS</p>
  </div>
</div>

{{yield}}
