<div class="footer">
    <p><span>'PLEASANTRIES'  FEATURING  GREG CALDWELL, MADELINE RUPARD, DAVID RALEIGH</span><span>JULY, 14 -15, 2017</span><span>ATTEND THE NEXT 2MASS</span><span>'PLEASANTRIES'  FEATURING  GREG CALDWELL, MADELINE RUPARD, DAVID RALEIGH</span><span>JULY, 14 -15, 2017</span><span>ATTEND THE NEXT 2MASS</span></p>
</div>

{{yield}}
