<div class="item">
        {{#link-to home.link class="title"}}
          <p>{{home.title}} <span>&#8599;</span></p>
          <p>{{home.text}}</p>
          <p>{{home.date}}</p>
        {{/link-to}}
</div>

{{yield}}
