
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html{
   height: 100%;
  -webkit-overlow-scrolling: touch;
  background: white;
}

@font-face {
    font-family: F-Grotesk;
    src: url('/type/F-Grotesk-Book.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: F-Grotesk;
    src: url('/type/F-Grotesk-Thin.otf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: F-Grotesk;
    src: url('/type/F-Grotesk-Demi.otf');
    font-style: normal;
    font-weight: 500;
}

// ::-webkit-scrollbar {
//   width: 10px;
// }
//
// ::-webkit-scrollbar-thumb {
//     background: black;
// }

body {
    height: 100%;
    font-family: 'F-Grotesk', sans-serif;
    letter-spacing: .5px;
    font-weight: 500;
}

.landing {
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;

  .split, .full {
    width: 100%;
    height: 100%;
    position: absolute;

    .left {
      width: 50%;
      height: 100%;
    }

    .right {
      width: 50%;
      height: 100%;
    }

    .left, .right {
      background-size: cover;
      background-position: center;
      float: left;
      overflow: hidden;

      video {
        height: 100%;
      }

      &:hover {
        filter: hue-rotate(180deg);
      }
    }
  }

  .full {
    background-size: cover;
    background-position: center;

    video {
      min-height: 100%;
      min-width: 100%;
    }
  }
}

.watermark {

  p {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 12px;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;

  }
  100% {
    opacity: 1;
  }
}

.main-nav {
  // opacity: 1;

  .nav-left, .nav-center {
    position: fixed;
    font-weight: 500;
    a, p {
      color: black;
    }
  }

  .nav-left {
    transform: rotate3d(0, 0, 10, -90deg);
    top: 80px;
    left: -10px;
    font-size: 12px;
    z-index: 110;
    opacity: 1;
    @include transition(opacity .3s, transform .3s);

    &.hidden {
      opacity: 0;
      @include transition(opacity .3s);
    }

    &:hover {
      transform: rotate3d(0, 0, 200, -80deg);
      @include transition(transform .3s);
    }
  }

  .nav-left.reset {
    left: 8px;
    top: 50px;
  }

  .nav-center {
    top: 20px;
    // letter-spacing: 2px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    z-index: 100;
    pointer-events: none;
    opacity: 1;
    @include transition(opacity .3s);

    &.hidden {
      opacity: 0;
      @include transition(opacity .3s);
    }

    .hov {
      display: inline-block;
      padding: 0px 30px 30px 30px;
      pointer-events: auto;

      ul {
        list-style: none;
      }
    }

    .ex-link {
      cursor: pointer;
      transform: none;
      margin-bottom: 5px;
      @include transition(transform .3s);

      &:hover {
        transform: rotate3d(0, 0, 200, 5deg);
        @include transition(transform .3s);
      }
    }

    .exhibitions-links {
      display: none;

      a {
        @include transition(filter .3s, color .3s);

        &:hover {
          filter: blur(1.5px);
          @include transition(filter .3s, color .3s);
          color: blue;
        }
      }

      li {
        padding: 2px 0px;
      }
    }
  }
}

.push-down-100 {
  margin-top: 100px;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;

    .main {
      width: 100%;
      height: 100%;
      .head {
        width: 80%;
        margin: 0 auto;
        margin-top: 166px;
        font-size: 12px;
        font-weight: 500;

        h1 {
          margin-bottom: 40px;
          line-height: 1.2em;
        }
      }

      .photo-clicker {
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;

        .photo-clicker-img {
          position: absolute;
          width: 60%;
        }
      }
    }

    .shows {
      width: 80%;
      margin: 0 auto;
      .show {
        float: left;
        margin-bottom: 80px;
        .left {
          a {
            color: black;
            font-size: 12px;
            font-weight: 500;
            @include transition(filter .3s, color .3s);

            &:hover {
              filter: blur(1px);
              @include transition(filter .3s, color .3s);
              color: blue;
            }
          }
        }

        .right {
          p {
            font-size: 12px;
          }
        }
      }
    }

    .zoa {
        width: 400px;
    }

    .sec {
        @include flex(1);
        position: relative;
    }

    .left, .right {
      // width: 50%;
      // height: 100%;
      // float: left;
    }

    .left {
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
        background-color: black;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #000;
      }

      &::-webkit-scrollbar-track {
        background-color: white;
      }

      img {
        width: 100%;
        display: block;
      }

      .w80 {
        width: 80%;
      }
    }
}

.container.info {

    .title {
        padding-top: 200px;
    }
    p:first-child {
        color: black;
    }
    p {
        text-align: left;
        width: 60%;
        line-height: 28px;
        margin: 0 auto;
    }

    img {
        width: 60%;
        margin: 0 auto;
        display: block;
        padding: 40px 0px;
    }
}

body.home {
    background-size: cover;
    background-position: center;
}

.container {
  &.show {

  }

  &.home {
    .main-nav {
      // opacity: 0;
    }
  }
}

.container.show, .container.home {

  .content {
    width: 80%;
    margin: 0 auto;
    opacity: 0;

    &.has-scroll {
      width: 100%;
      height: 100%;
      position: fixed;
      bottom: -100%;
      background: white;
      @include display(flex);
      @include justify-content(center);
      @include flex-direction(column);
      @include transition(bottom .7s);
    }

    &.has-scroll.peek {
      bottom: -90%;
      @include transition(bottom .5s);
    }

    &.has-scroll.showing {
      bottom: 0%;
      @include transition(bottom .7s);
    }

    &.has-scroll.slower {
      @include transition(bottom .7s);
    }

    .content-inner {
      width: 80%;
      margin: 0 auto;
    }

    p {
      font-size: 12px;
      text-transform: uppercase;
    }

    .artist p {
      text-transform: none;
    }

    .show-title {
      text-transform: none;
      font-size: 12px;
      padding-left: 101px;
      margin-bottom: 30px;
    }

    .read-more {
      cursor: pointer;
      @include transition(filter .3s, color .3s);

      &:hover {
        filter: blur(1.5px);
        @include transition(filter .3s, color .3s);
        color: blue;
      }
    }

    .hidden {
      visibility: hidden;
    }
  }

  .photos {
    opacity: 0;

    img {
      width: 100%;

      padding: 0px;
      margin: 0px;
      display: block;
    }

    .w80 {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &.geminii {
      width: 100vw;
      height: 100vh;
    }
  }

  .carousel {
    position: relative;

    .item {
      display: none;
      @include justify-content(center);
      @include align-items(center);
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
    .item.active {
        @include display(flex);
    }

    .carousel-control.left, .carousel-control.right {
      position: absolute;
      width: 50%;
      top: 0px;
      height: 100%;
    }

    .carousel-control.right {
      right: 0px;
    }

    .follow {
      position: absolute;
    }
  }

  .show-footer {
    position: relative;
    height: 300px;
    opacity: 0;

    .show-info {
      position: absolute;
      bottom: 40px;
      left: 10%;
      width: 400px;
    }

    .show-info.show-info-right {
      bottom: 180px;
      right: 40px;
      left: auto;

      .contrib, .artists {
        width: 50%;
        float: left;
      }


    }

    .address {
      position: absolute;
      bottom: 40px;
      left: 10%;
    }

    .watermark {
      p {
        position: absolute;
        font-size: 12px;
      }
    }

    p {
      font-size: 12px;
    }

    .artist {
      .left, .right {
        float: left;
        width: 50%;
      }

      .right {
        white-space: nowrap;
      }
    }
  }

  .show-footer.show-footer-right {
    margin-top: 140px;
  }
}

.login, .create-page, .create-image, .create-person, .create-piece {
  // position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  // height: 100%;
  justify-content: center;

  .options {
    margin-bottom: 50px;
  }

  #page-list {
    font-size: 12px;
    width: 290px;
      outline: none;
      border: none;
      border-radius: 0px;
      font-family: Droid serif;
      -webkit-appearance: none;
      background: none;
      padding: 7px;
      border: 1px solid #d4d4d4;
      background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) calc(1em + 0px), calc(100% - 15px) calc(1em + 0px),
      calc(100% - 2.5em) 0.5em;
      // font-family: Practice, sans-serif;
  }

  .form {
    margin: 200px 0px;
  }

  form div input {
    width: 400px;
    height: 30px;
    font-size: 12px;
    padding: 6px 20px;
    margin-bottom: 20px;
    // font-family: Practice, sans-serif;
    border: 1px solid #e2e2e2;

    &:focus, &:active {
      outline: none;
    }
  }

  form div textarea {
    width: 400px;
    height: 200px;
    font-size: 12px;
    padding: 6px 20px;
    margin-bottom: 20px;
    // font-family: Practice, sans-serif;
    border: 1px solid #e2e2e2;
    resize: none;

    &:focus, &:active {
      outline: none;
    }
  }

  .btn {
    background: black;
    border: none;
    color: white;
    // font-family: Practice, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 13px;
    cursor: pointer;
  }

  .half {
    p {
      font-size: 12px;
      color: #7e7575;
      margin-bottom: 20px;
    }

    &.selection {
      padding: 30px 20px;
      border: 1px solid #e2e2e2;
      margin-bottom: 20px;
    }
  }

  ul {
    li {
      list-style: none;

      label {
        font-size: 12px;
        color: #7e7575;
      }

      input {
        width: auto;
        height: auto;

      }
    }
  }

  .delete {
    display: none;
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 12px;
  padding: 13px 0px;
  z-index: 50;
  background: none;
  white-space: nowrap;

  span {
    margin-right: 60px;
  }

  p {
    color: #484848;
    display: inline-block;
    padding: 0px 10px;
  }
}
