<div>
    <div class="main-nav">
        <div class="bot-left">
          {{#link-to 'index'}}
            <img src="images/2mass-logo.svg" alt="">
          {{/link-to}}
        </div>
    </div>

    {{#if showPage}}
    <div class="container info">
      {{outlet}}
    </div>
    {{else}}
    <div class="container home">
      {{outlet}}
    </div>
    {{/if}}
</div>
