<div class="indent-nav">
  <ul>
    <li>
      {{#link-to 'home'}}
        <span>-</span>2MASS
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'about'}}
        <span>-</span>About
      {{/link-to}}
    </li>
    <li><span>-</span>Shows
      <ul>
        <li>
          {{#link-to 'friendship'}}
            <span>-</span>Friendship
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'geminii'}}
            <span>-</span>Geminii
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'zone-of-avoidance'}}
            <span>-</span>Zone of Avoidance
          {{/link-to}}
        </li>
      </ul>
    </li>
  </ul>
</div>

{{outlet}}
