<div class="main">
  {{photo-clicker imageClicker=imageClicker load=load}}
</div>
<div class="content has-scroll">
  <div class="content-inner">
    <p>
      Thank you to all who have donated thus far to help us continue 2MASS. Your contributions help artists and collaborators fund future events and projects.
      <br><br>
      As a part of a larger discussion of the connection between art and music, 2MASS is a venue for artists to conceptualize, create and exhibit art in and related to the concept of 2MASS. On a monthly basis, 2MASS will curate art and music shows for an audience interested in mentioned fields of art. The experience is expected to be new and experimental.
    </p>
  </div>
  {{alt-footer-right}}
</div>
{{outlet}}
